body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: orangered;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}
    th {
        background-color: #ff6f61; 
        color: white;
        padding: 10px;
    }
    
    td {
        padding: 10px;
        text-align: left;
    }
    
    a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff6f61; /* Bright red-orange */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s;
    }
    
    a:hover {
        background-color: #e55d4d; /* Slightly darker red-orange */
    }


nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tracker-image {
    width: 80%; 
    max-width: 600px;
    height: auto; 
    margin-top: 20px; 
    border: 5px solid orangered; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border-color: #35424a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fffbef;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #ff6f61; 
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #e55d4d; 
}


footer {
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}